.container {
  max-width:1000px;
  margin: 0 auto;
  // background-image: url('../img//me.png');
  // background-repeat: no-repeat;
  // background-size: 70px;
  // background-position: center;

  .img{
    width:120px;
    height:120px;
    object-fit: cover;

      animation: rotating 9s linear;
      animation-iteration-count: infinite;

      @keyframes rotating {
        from {
          -ms-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -ms-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
  
  }

  .heading {
    font-size :5rem;

    animation: fadeBig 2s ease-in-out;

  @keyframes fadeBig {
    from {
      
      opacity: 0;
    }
    to {
      
      opacity:1
    }
  }
  }

  .headingLarge{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }

  a {
    color:#29A6E0;
    
  }
  p{
    font-size:1rem;
  }
}