.container {
  max-width:1000px;
  margin: 0 auto;
  // background-image: url('../img//me.png');
  // background-repeat: no-repeat;
  // background-size: 70px;
  // background-position: center;

  .img{
    width:120px;
    height:120px;
    object-fit: cover;
  }

  .heading {
    font-size :5rem;
  }

  .headingLarge{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }

  a {
    color:#29A6E0;
    
  }
  p{
    font-size:1rem;
  }
}