.container {
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    font-size :5rem;

  }

  h1:hover{
    color:black;
    scale:(1);
  }
}


.posts {
  list-style-type: none;
  margin:0;
}

.post {
  margin: 1rem 0;

  

  a {
    background: #f4f4f4;
    color:#000000;
    display:block;
    padding:1rem;
    text-decoration: none;
  }

 

  h2 {
    font-size :3rem;
    margin-bottom: 0;

  }

  p {
    color:#777777;
    font-size: 0.8rem;
  }

  li {
    font-size:1rem;
  }

}