.container {
  max-width: 1000px;
  margin: 0 auto;
}

.heading {
  font-size :5rem;
}

h3{
  font-size :2rem;
  margin:2rem 0;
}

a {
  color:#EA14BC;
}

.details {
  margin-top: 5rem;;
  p{
    font-size :1.2rem;
  }
}