body {
  margin:0;
  padding:0;
}

.container {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  min-height: 85vh;
  flex-wrap: wrap;
  background-image: url('../img/bg.png');
  background-position:center;
  background-size: 1000px;
  background-repeat: no-repeat;

  .heading {
    
    font-size :7rem;
    font-weight:800;
    margin:0;
    transform:scale(1);
    transition: ease-in-out 0.5s;
  }

  }

  .heading:hover{
    transform:scale(1.2);
    color:rgb(235, 233, 240);
  }



  h2 {
    font-size :3rem;
    
  }

  p {
    font-size :1.5rem;
    
  
  }

  .anchor {
    text-decoration: none;
    margin-left:0.6rem;
    color:rgb(238, 238, 238);

  }


