body {
  margin:0;
  padding:0;
}

.container {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  min-height: 85vh;
  flex-wrap: wrap;
  background-image: url('../img/bg.png');
  background-position:center;
  background-size: 1100px;
  background-repeat: no-repeat;

  

  .heading {
    
    font-size :7rem;
    font-weight:800;
    margin:0;
    transform:scale(1);
    transition: ease-in-out 0.5s;
    animation-name: fadeBig;
    animation-duration: 4s;
    
  }

  }

  .heading:hover{
    transform:scale(1.2);
    color:rgb(235, 233, 240);
  }



  h2 {
    font-size :3rem;
    animation-name: fromleft;
    animation-duration:1.5s;
    animation-timing-function:ease-out;
  
    
    
  }

  p {
    font-size :1.5rem;
    
  
  }

  .anchor {
    text-decoration: none;
    margin-left:0.6rem;
    color:rgb(250, 250, 250);
    border-bottom:1px solid rgb(13, 217, 240);
    font-weight: 700;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    opacity: 1; 

    @keyframes pulsate {
      0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.6;}
      50% {opacity: 1.0;}
      100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.6;}
  }

  }


@keyframes fadeBig {
  from {
    transform:scale(4);
    opacity: 0;
  }
  to {
    transform:scale(1);
    opacity:1
  }
}

@keyframes fromleft {
  from {
    
    transform:translateX(-2000px);
  }
  to {
    
    transform:translateX(0px);
  }
}