.container {
  margin: 0 auto;
  max-width:900px;
  padding:0rem;

  font-family: 'Poppins' ,sans-serif;

  display:flex;
  flex-direction: column;
  min-height:100vh;
}

.content {
  flex-grow: 1;
}

h1 , h2  {
  font-family: 'Poppins' ,sans-serif;
  font-weight: bold;
}

p{
  font-family: 'Poppins' ;
  font-size: 1rem;
}




